[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
maturin = "==1.2.3"

[packages]
rule-engine = "*"
zen-engine = "*"
rust-rule-engine = {file = "packages/rust_rule_engine-0.1.0-cp312-cp312-macosx_10_12_x86_64.whl"}

[requires]
python_version = "3.12"

[scripts]
refresh = "./scripts/refresh.sh"
build-whl = "maturin build -i python3.12 -b pyo3 -o ./packages --release --strip"
test-fresh = "sh -c \"./scripts/refresh.sh && python -m unittest -v tests\""
test = "python -m unittest -v tests"
compare = "python ./compare.py"
